<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/timda/OneDrive/Desktop/Uploads/AutomationQA/05.MyProjects/06.AmazonProject/src/test/java/securitytesting/ZAPSecurityTest.java">
        <classes>
            <class name="securitytesting.ZAPSecurityTest">
                <methods>
                    <include name="weAreSecurityTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>